.card {
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  transition: box-shadow 0.3s;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover .card-img-top {
  transform: scale(1.09);
}

.card-img-top {
  transition: transform 1.2s;
  padding: 3px;
}

.card-body {
  overflow: hidden;
  height: 190px;
}

.price {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  margin: 5px;
}

.container {
  margin-top: 20px;
}

.row {
  margin: 0 -15px;
}

.col-md-3 {
  padding: 0 15px;
}

.desc {
  overflow-y: auto;
  max-height: 80px; 
  margin-bottom: 10px; 
}

.btn-primary{
  background-color: var(--main-color);
}
