<app-user-nav-bar> </app-user-nav-bar>

<div class="container">
    <div class="row">
        <div *ngFor="let product of products" class="col-md-3 mb-4">
            <div class="card">
                <img class="card-img-top" src="{{ product.image }}" alt="{{ product.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.title }}</h5>
                    <p class="card-text desc">{{ product.description }}</p>
                    <div class="price">
                        <button class="btn btn-primary" (click)="addToCart(product)"  [disabled]="isInCart(product)">Cart</button>
                        <p class="card-text text-success"><b>{{ product.price }} D</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
