<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3>Contact Me</h3>
          <p>Email: berriraslen581@example.com</p>
          <p>Phone: +216 58 138 146</p>
        </div>
        <div class="col-md-6">
          <h3>Follow Me</h3>
          <ul class="list-inline">
            <i class="fa-brands fa-facebook"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
          </ul>
        </div>
      </div>
    </div>
    <div class="bottom-footer">
      <div class="container">
        <p>&copy; 2023 Raslen Berry. All rights reserved.</p>
      </div>
    </div>
  </footer>
  