nav {
    background: var(--background-color);
  }
  
  .navbar-brand,
  .navbar-nav .nav-link {
    color: #fff !important;
    transition: color 0.3s ease; 
  }
  
  .navbar-brand:hover,
  .navbar-nav .nav-link:hover {
    color: #ffd700 !important;
  }
  
  .navbar-toggler-icon {
    background-color: #fff;
  }
  
  .dropdown-menu {
    background: var(--background-color);
  }
  
  .dropdown-item {
    color: #fff !important;
    transition: background-color 0.3s ease;
  }
  
  .dropdown-item:hover {
    background-color: #ffd700; 
  }
  
  @media (max-width: 767px) {
    .navbar-collapse {
      background:  var(--background-color);
    }
  }
  