<app-user-nav-bar></app-user-nav-bar>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1 class="mb-4 text-center">Login</h1>

      <form [formGroup]="loginForm" (ngSubmit)="loginUser()" class="rounded p-4 shadow">

        <div *ngIf="message" class="alert alert-danger alert-dismissible fade show" role="alert">
          User not found.
          <button (click)="removeMessage()" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <!-- Email Field -->
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" formControlName="email">
        </div>

        <small class="text-danger" *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)">
          <div *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</div>
          <div *ngIf="loginForm.get('email')?.errors?.['email']">Email is not valid.</div>
        </small>

        <!-- Password Field -->
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" formControlName="password">
        </div>

        <small class="text-danger" *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
          <div *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</div>
          <div *ngIf="loginForm.get('password')?.errors?.['password']">Password is not valid.</div>
        </small>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Submit</button>

        <div class="mt-3">
          <p class="mb-0">Don't have an account? <a routerLink="/register" class="fw-bold">Register</a></p>
        </div>
      </form>
    </div>
  </div>
</div>
