<app-user-nav-bar></app-user-nav-bar>
<div class="container">
  <h2>History</h2>

  <div *ngIf="cartHistory.length === 0">
    <p>No cart history available.</p>
  </div>

  <div *ngFor="let cartItem of cartHistory; let i = index">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Cart {{ i + 1 }}</h5>
        <p>Date: {{ cartItem.date | date:'medium' }}</p>

        <table class="table">
          <thead>
            <tr>
              <th>Product</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of cartItem.product">
              <td>{{ product.title }}</td>
              <td class="price">{{ product.price}}D</td>
              <td>{{ product.quantity }}</td>
              <td class="price">{{ calculateTotal(product)}}D</td>
            </tr>
            <tr>
              <th>Total Amount</th>
              <td class="price">{{ calculateCartTotal(cartItem)}}D</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>